html, body {
  height: 100%;
  margin: 0;
}

body {
  font-family: Helvetica, Arial, "sans-serif";
  background: #333;
  color: #eee;
}

body, section {
  display: flex;
  flex-direction: column;
}

header, footer {
  text-align: center;
  padding: 0.5em 0;
}

section {
  margin: 2em;
  flex: 1;
}

textarea {
  flex: 1;
  resize: none;
  margin: 0.5em 0;
  padding: 0.5em;
}

.row {
  display: flex;
  justify-content: space-between;
}
